html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

input#hamburguesa-icono{
    visibility: hidden;
}

input#hamburguesa-icono ~ ul{
    display: none;
}

input#hamburguesa-icono:checked ~ul{
    display: block;
}